.grid {
  display:grid;
  grid-template-rows: repeat(10, 10px);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1em;
}

.grid-item1 {
  grid-row-start: 0;
}

/*.grid-item2 {
  grid-row-end: ;
}
.grid-item3 {
  grid-row-start: 0;
}
.grid-item4 {
  grid-row-start: 0;
}*/

.name {
  text-align: center;
}


/*.sidebar {
  display:flex;
  justify-content: space-between;
  align-items: ;
}*/
