@import url('https://fonts.googleapis.com/css?family=Arapey|Homemade+Apple');

body {
  background-color: #B9B5B3;
  background-image: -webkit-linear-gradient(right, #e5d1d0, #e8e8e8);
  background-image: -moz-linear-gradient(right, #e5d1d0, #e8e8e8);
  background-image: -o-linear-gradient(right, #e5d1d0, #e8e8e8);
  background-image: -ms-linear-gradient(right, #e5d1d0, #e8e8e8);
  background-image: linear-gradient(right, #e8e8e8, #e5d1d0);
  margin: 20px;
}

.grid {

}

/*.grid-second {
  display:grid;
  grid-template-rows: repeat(10, 10px);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1em;
  /*align-items: center;
}*/

/*.grid-item1 {
  grid-row-start: 0;
}*/

/*.grid-item2 {
  grid-row-end: ;
}
.grid-item3 {
  grid-row-start: 0;
}
.grid-item4 {
  grid-row-start: 0;
}*/

.grid-name {
  display: grid;
  grid-template: repeat(10, [row-start] 1fr [row-end]) / repeat(10, [col-start] 1fr [col-end]);
  grid-gap: 1em;
  /*grid-template-rows: repeat(10, [row-start] 1fr [row-end]);
  grid-template-columns: repeat(10, [col-start] 1fr [col-end]);*/
  justify-content: flex-start;
}

.name-details {
  padding: 10px;
  grid-area: 1 / 1 / 2 / 8;
  /*grid-row-start: 0;
  grid-column-end: 6;*/
  background-image: -webkit-linear-gradient(right, #d8c7c7, #ad9883);
  background-image: -moz-linear-gradient(right, #d8c7c7, #ad9883);
  background-image: -o-linear-gradient(right, #d8c7c7, #ad9883);
  background-image: -ms-linear-gradient(right, #d8c7c7, #ad9883);
  background-image: linear-gradient(right, #d8c7c7, #ad9883);
}

.img-profile {
  grid-row-start: 1.5;
  grid-column-end: 9;
  width:300px;
  height:300px;
}

.name h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: 'Homemade Apple', cursive;
  font-weight: lighter;
}

.name p {
  padding: 0 20px 0 20px;
  text-align: center;
  font-family: 'Arapey', serif;
  font-size: 19px;
  line-height: 30px;
}

.svg-social {
  text-align: center;
}

a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #ffffff;
}

svg {
  height: 30px;
  width: auto;
}

a svg:hover .svg-mail {
 color: #a0f7e1;
}

a svg:hover .svg-linkedIn {
  color: #f7a0f7;
}
a svg:hover .svg-blog {
 color: #f7e547;
}
a svg:hover .svg-ig {
color: #5e91ff;
}
a svg:hover .svg-fb {
  color: #71c145;
}

a svg .svg-mail,
a svg .svg-mail,
a svg .svg-blog,
a svg .svg-ig,
a svg .svg-fb
 {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}



/*.sidebar {
  display:flex;
  justify-content: space-between;
  align-items: ;
}*/
