body {
  background-color: #913E1D;
  background-image: -webkit-linear-gradient(right, #D4886A, #913E1D);
  background-image: -moz-linear-gradient(right, #D4886A, #913E1D);
  background-image: -o-linear-gradient(right, #D4886A, #913E1D);
  background-image: -ms-linear-gradient(right, #D4886A, #913E1D);
  background-image: linear-gradient(right, #D4886A, #913E1D);
}

.grid {
  display:grid;
  grid-template-rows: repeat(10, 10px);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1em;
  /*align-items: center;*/
}

.grid-item1 {
  grid-row-start: 0;
}

/*.grid-item2 {
  grid-row-end: ;
}
.grid-item3 {
  grid-row-start: 0;
}
.grid-item4 {
  grid-row-start: 0;
}*/

.name {
  text-align: center;
}

a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #3b3c3d;
}

svg {
  height: 30px;
  width: auto;
}

a svg:hover .svg-mail {
 color: #a0f7e1;
}

a svg:hover .svg-linkedIn {
  color: #f7a0f7;
}
a svg:hover .svg-blog {
 color: #f7e547;
}
a svg:hover .svg-ig {
color: #5e91ff;
}
a svg:hover .svg-fb {
  color: #71c145;
}

a svg .svg-mail,
a svg .svg-mail,
a svg .svg-blog,
a svg .svg-ig,
a svg .svg-fb
 {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

/*.sidebar {
  display:flex;
  justify-content: space-between;
  align-items: ;
}*/
